Skills
10+ years: Ruby on Rails | Backend | Frontend | Full-stack | AWS | Postgres | Redis | CI/CD | CircleCI | Javascript | RSpec
5+ years: Docker | Python | SMS | Twilio | VOIP | SIP

Experience
CTO/Co-founder	AutopilotReviews	San Francisco / Los Angeles	10/2014 - Present
·	Cultivated a robust engineering culture, leading to the successful recruitment and management of a high-performing team
·	Pioneered the integration of Twilio + A2P10DLC for delivering millions of text messages
·	Spearheaded the development of a highly scalable survey SaaS product (Ruby on Rails/PostgreSQL/Redis + JavaScript) 
·	Led and managed team to setup AWS infrastructure, CI/CD and Agile processes for development
·	Drove the development of multiple backend integrations using Python and Selenium

Founding Engineer	Padlet (YC W13)	San Francisco	09/2013 - 09/2014
·	Instrumental in scaling the infrastructure of a Ruby on Rails/PostgreSQL + Angular + Node/Redis stack to support over 1 million registered users and 5,00
·	Played a key role in enhancing team capabilities through strategic recruitment and fostering a collaborative environment
·	Optimized Postgres performance for high-speed data processing and management, directly contributing to the platform's scalability and efficiency
·	Built and deployed in-house sensitive media detector, which was fundamental to Padlet’s capacity to grow

CTO/Co-founder	ClickFono	Santiago, Chile	03/2008 - 08/2013
·	Led the architectural design and server infrastructure setup, incorporating SIP/voice integrations with telecom providers to create the most advanced onl
·	Built a REST API for voice applications, using Ruby on Rails/PostgreSQL
·	Typical clients were top brands in Insurance, Banking, Finance, Retail, Telecommunications

Founding Engineer	Needish (acquired by Groupon)	Santiago, Chile	03/2007 - 01/2008
·	First hire, wrote first few versions of the application using CakePHP, setup Postgres database and server infrastructure as well as testing


Education
UC Berkeley 2004-2005
1 year EAP program in CS / IEOR

PUC, Chile 2000-2006
Double major CS and IEOR engineering degree

Supervised Machine Learning, by Andrew Ng - Coursera 2017








